html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9e9e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
p {
    margin: 0;
    padding: 0;
}
#spinner {
    display: none;
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 100%;  
    -webkit-animation: scale-it 1s infinite ease-in-out;
    animation: scale-it 1.0s infinite ease-in-out;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
    z-index: 2;
}
#error {
    display: none;
    -webkit-animation: fade-out 0.2s forwards ease-in-out;
    animation: fade-out 0.2s forwards ease-in-out;
    position: absolute;
    top: 100px;
    background-color: #E3757E;
    padding-top: 35px;
    box-shadow: 0 0 3px #ccc;
    width: 400px;
    left: 50%;
    margin-left: -200px;
}
#error.visible {
    -webkit-animation: fade-in 0.2s forwards ease-in-out;
    animation: fade-in 0.2s forwards ease-in-out;
}
#error:before {
    content: "X";
    color: #fff;
    position: absolute;
    top: 5px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 20px;
}
#error #error-message {
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    padding: 10px 0;
}
#enter-token {
    display: none;
    width: 410px;
    height: 50px;
    left: 50%;
    margin-left: -205px;
    top: 50%;
    margin-top: -25px;
    position: fixed;
    box-shadow: 0 0 3px #ccc;
}
#enter-token #token {
    border: none;
    line-height: 50px;
    padding: 0 10px;
    font-size: 20px;
    background-color: #fff;
    width: 340px;
    float: left;
}
#enter-token input[type=submit] {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #333;
    color: #fff;
    width: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
}
#enter-token input[type=submit]:hover {
    background-color: #444;
}
#projects-wrapper {
    display: none;
    width: 600px;
    margin: 80px auto;
}
#projects-wrapper #project-template {
    display: none;
}
#projects-wrapper .project {
    font-size: 22px;
    line-height: 60px;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    padding: 0 20px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #444;
    box-shadow: 0 0 2px #999;
}
#projects-wrapper .project:hover {
    background-color: #f9f9f9;
}
#header {
    width: 100%;
    height: 50px;
    background-color: #222;
}
#header #project-name {
    font-size: 20px;
    float: left;
    line-height: 50px;
    margin-left: 15px;
    color: #fff;
}
#header #switch-project {
    display: none;
    line-height: 35px;
    float: left;
    color: #fff;
    margin-left: 4px;
    font-size: 11px;
    cursor: pointer;
}
#header #switch-project:hover {
    color: #e0e0e0;
}
#header #toolbar {
    float: right;
    line-height: 50px;
    margin-right: 50px;
}
#header #toolbar #switch-mode {
    color: #fff;
    cursor: pointer;
}
#header #toolbar #switch-mode:before, #header #toolbar #switch-mode:after {
    content: "A";
}
#header #toolbar #switch-mode:before {
    font-size: 12px;
}
#header #toolbar #switch-mode:after {
    font-size: 20px;
}
#header #toolbar #switch-mode.enlarged:before {
    font-size: 20px;
}
#header #toolbar #switch-mode.enlarged:after {
    font-size: 12px;
}
#header #toolbar #switch-mode:hover {
    color: #e0e0e0;
}
#header #logout {
    display: none;
    float: right;
    line-height: 50px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
}
#header #logout:hover {
    color: #e0e0e0;
}
#kanban-headers {
    width: 100%;
    background-color: #333;
    height: 40px;
    box-shadow: 0 0 2px #111;
}
#kanban-headers span {
    float: left;
    display: block;
    width: 20%;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
}
#kanban {
    display: none;
}
#kanban #story-template {
    display: none;
}
#kanban ul {
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 100px;
}
#kanban ul li {
    margin: 15px 15px 15px 0;
    padding: 0;
    height: 100px;
    box-shadow: 0 0 3px #ccc;
    background-color: #fff;
}
#kanban ul#todo li {
    margin-left: 15px;
}
#kanban ul li .header {
    padding: 0 10px;
    color: #fff;
    display: block;
    line-height: 25px;
    height: 25px;
    font-size: 13px;
}
#kanban ul li .header .owners {
    float: left;
}
#kanban ul li .header .owners .owner:after {
    content: ", ";
}
#kanban ul li .header .owners .owner:last-child:after {
    content: "";
}
#kanban ul li .header .estimate {
    float: right;
}
#kanban ul li.feature .header {
    background-color: #F2C12E;
}
#kanban ul li.bug .header {
    background-color: #E74C3C;
}
#kanban ul li.release .header {
    background-color: #3498DB;
}
#kanban ul li.chore .header {
    background-color: #2C3E50;
}
#kanban ul li .title {
    margin: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
}
.enlarged #kanban ul li {
    height: 110px;
    box-shadow: 0 0 3px #888;
}
.enlarged #kanban ul li .header {
    width: 30px;
    float: left;
    height: 110px;
    padding: 0;
    position: relative;
}
.enlarged #kanban ul li .header .estimate {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
}
.enlarged #kanban ul li .header .owners {
    display: block;
    width: 100%;
    float: none;
    position: absolute;
    bottom: 3px;
    left: 0;
    text-align: center;
    line-height: 18px;
}
.enlarged #kanban ul li .header .owners .owner {
    display: block;
}
.enlarged #kanban ul li .header .owners .owner:after {
    content: "";
}
.enlarged #kanban ul li .title {
    font-size: 19px;
    -webkit-line-clamp: 4;
    margin-left: 0;
    line-height: 25px;
    padding: 2px 0 0 7px;
}